* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: mediumvioletred;
    height: 40px;
}

header div {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 1.5%;
}

header div button{
    margin-right: 10px;
    padding: 2px;
    width: 70px;
}

header > div > div > img {
    margin: 10px;
    width: 18px;
    height: 18px;
}

.main {
    display: flex;
    flex-grow: 1;
}

.menu {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px;
    grid-template-columns: 1fr 1fr 1fr;
    background: #f2d0e0;
    align-items: center;
    text-align: center;
}

.menu p {
    text-align: left;
}

.content {
    display: grid;
    flex-grow: 5;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-rows: 320px 1fr;
    row-gap: 20px;
    column-gap: 20px;
    align-items: center;
    
}

.content div { 
    border-top: none;
    text-align: center;
    justify-content: center;
    margin: 10px 0 0 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.226);
}

.content div h2 {
    margin-bottom: 15px;
}

/* .content .texto-bolo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    padding: 5px;
} */

.content div img {
    height: 220px;
}

.imagem {
    width: 25px;
    height: 25px;
}

footer {
    display: flex;
    height: 40px;
    background: mediumvioletred;
    align-items: center;
    justify-content: center;
}